.admin-container {
    width: 98%;
    min-height: max-content;
    height: 600px;
    margin: 10px;
    border: 1px solid #555;
  }
.navbar{
  width:25%;
  min-width: max-content;
  padding-top: 5px;
  padding-right: 15px;
}
