.product-container {
    width: 97%;
    min-height: max-content;
    height: 96.5%;
    margin: 10px;
    border: 1px solid #555;
    display:contents;
  }
.navbar{
  width:210px;
  min-height: max-content;
  height: 595px;
  max-width: fit-content;
}
