*{
    max-width: max-content;
}
section {
    display: table;
  }
  
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.product-create{
    width: 200px;
}
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 0px 8px 5px;
    
  }
  